{{ $site := .Site }}
{{ $align_x := $site.Data.config.header.anncmnt_align | default "left" }}
{{ $has_close_btn := $site.Data.config.header.anncmnt_has_close }}
<div class="announcement-bar py-2{{ if $has_close_btn }} js-announcement{{ end }}{{ if $has_close_btn }} is-hidden{{ end }}"{{ if $has_close_btn }} data-anncmnt-id="{{ $site.Data.config.header.anncmnt_id }}"{{ end }}>
	<div class="container">
		<div class="announcement-bar__content">
			<div class="announcement-bar__copy{{ if eq $align_x "center" }} text-center{{ end }}{{ if eq $align_x "right" }} text-right{{ end }}">
				{{ partial "markdownify-block" $site.Data.config.header.anncmnt_content }}
			</div>
			{{ if $has_close_btn }}
			<button aria-label="Close" class="btn btn--icon btn--clear js-announcment-close">
				{{ $include_dict := dict "icon" "close" }}
				{{ partial "icon.html" $include_dict }}
				<span class="sr-only">Close</span>
			</button>
			{{ end }}
		</div>
	</div>
</div>
