{{ $section := .section }}

{{ $align_x := $section.align | default "center" }}
{{ $padding_top := $section.padding_top | default "medium" }}
{{ $padding_bottom := $section.padding_bottom | default "medium" }}

{{ $bg_color := $section.background_color | default "none" }}
{{ $bg_img_opacity_pct := $section.background_image_opacity | default 100 }}
{{ $bg_img_opacity := mul $bg_img_opacity_pct 0.01 }}
{{ $bg_img_size := $section.background_image_size | default "cover" }}
{{ $bg_img_position := $section.background_image_position | default "center center" }}
{{ $bg_img_repeat := $section.background_image_repeat | default "no-repeat" }}

{{ $feature_padding_y := $section.feature_padding_vert | default "medium" }}

<section class="section features{{ if $section.has_border }} has-border{{ end }}{{ if $section.background_image }} has-cover{{ end }}{{ if eq $bg_color "none" }} bg-none{{ end }}{{ if eq $bg_color "primary" }} bg-primary{{ end }}{{ if eq $bg_color "secondary" }} bg-secondary{{ end }}{{ if eq $padding_top "small" }} pt-4{{ end }}{{ if or (eq $padding_top "medium") (eq $padding_top "large") }} pt-6{{ end }}{{ if eq $padding_top "large" }} pt-md-7{{ end }}{{ if eq $padding_bottom "small" }} pb-4{{ end }}{{ if or (eq $padding_bottom "medium") (eq $padding_bottom "large") }} pb-6{{ end }}{{ if eq $padding_bottom "large" }} pb-md-7{{ end }}">

	{{ if $section.background_image }}
	<div class="cover-img" style="background-image: url('{{ $section.background_image | relURL }}'); opacity: {{ $bg_img_opacity }}; background-size: {{ $bg_img_size }}; background-repeat: {{ $bg_img_repeat }}; background-position: {{ $bg_img_position }}"></div>
	{{ end }}

	{{ if or $section.title $section.subtitle }}
	<div class="container container--medium{{ if or (eq $feature_padding_y "small") (eq $feature_padding_y "medium") }} mb-5{{ end }}{{ if eq $feature_padding_y "large" }} mb-4{{ end }}{{ if eq $align_x "center" }} text-center{{ end }}{{ if eq $align_x "right" }} text-right{{ end }}">
		{{ if $section.subtitle }}
		<div class="section__subtitle">{{ $section.subtitle }}</div>
		{{ end }}
		{{ if $section.title }}
		<h2 class="section__title mt-0">{{ $section.title }}</h2>
		{{ end }}
	</div>
	{{ end }}

	{{ if $section.features }}
	<div class="container">
		{{ range $feature := $section.features }}
			{{ $include_dict := dict "section" $section "feature" $feature }}
			{{ partial "feature.html" $include_dict }}
		{{ end }}
	</div>
	{{ end }}

</section>
