{{ $field := .field }}

{{ if ne $field.input_type "checkbox" }}
	{{ if $field.label }}
		<label id="{{ $field.name }}-label" for="{{ $field.name }}">{{ $field.label }}</label>
	{{ end }}
{{ end }}
{{ if eq $field.input_type "checkbox" }}
	<div class="form-checkbox">
		<input id="{{ $field.name }}" type="checkbox" name="{{ $field.name }}"{{ if $field.label }} aria-labelledby="{{ $field.name }}-label"{{ end }}{{ if $field.is_required }} required{{ end }}>
		{{ if $field.label }}
		<label for="{{ $field.name }}" id="{{ $field.name }}-label">{{ $field.label }}</label>
		{{ end }}
	</div>
{{ else if eq $field.input_type "select" }}
	<div class="form-select">
		<select id="{{ $field.name }}" name="{{ $field.name }}"{{ if $field.label }} aria-labelledby="{{ $field.name }}-label"{{ end }}{{ if $field.is_required }} required{{ end }}>
			{{ if $field.default_value }}
			<option value="">{{ $field.default_value }}</option>
			{{ end }}
			{{ range $option := $field.options }}
				<option value="{{ $option }}">{{ $option }}</option>
			{{ end }}
		</select>
	</div>
{{ else if eq $field.input_type "textarea" }}
	<textarea id="{{ $field.name }}" name="{{ $field.name }}" rows="5"{{ if $field.label }} aria-labelledby="{{ $field.name }}-label"{{ end }}{{ if $field.default_value }} placeholder="{{ $field.default_value }}"{{ end }}{{ if $field.is_required }} required{{ end }}></textarea>
{{ else }}
	<input id="{{ $field.name }}" type="{{ $field.input_type }}" name="{{ $field.name }}" {{ if $field.label }} aria-labelledby="{{ $field.name }}-label"{{ end }}{{ if $field.default_value }} placeholder="{{ $field.default_value }}"{{ end }}{{ if $field.is_required }} required{{ end }} />
{{ end }}
